body {
    background-color: #f6f4e6;
    margin: 0px;    
    text-align:center;
}
table {
    margin: 0 auto;
}
table tr td img {
    height:200px;
}
#t01 tr th {
    font-size: 25px;
    color: #52575d;
    border-spacing: 0px;
}
hr {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 3px;
    width: 20%;
    margin: 4rem auto;
}

#grey {
    color: #52575d;
}
.scenery img{
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    top: -9rem;
    z-index: -1;
    opacity: 40%;
}

.doggo {
    width: 15%;
    position: fixed;
    bottom: 0;
    right: 30px;
}
#border-line {
    border-style: solid;
    border-color: grey;
    border-width: 3px;
    width: 100%;
    margin-top: -0.3rem;
}
#table2 {
    margin-bottom: 3rem;
}

#contact {
    margin-top: 3rem;
}