body {
    padding: 0;
    list-style: none;
    margin: 0; 
    text-decoration: none;
    background-color:#e8ffff;  
    color: #40514E;
}

#button {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #11999E;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration:none;
  font-size: 16px;
  position: absolute;
  width: 200px;
  top:5vw;
  left: 50px;
  cursor: pointer;
  border-radius: 25px;
}


.container {
    position: relative;
    height: 58vw;
    width: 100vw;
    margin: 0 auto 0 auto;
    text-align: center;
}
.t01 {
    position: absolute;
    top: 10%;
    left: 25%;
    width: 50%;
    height: 15vw;   
}
.t01 img {
    margin:auto;
    width: 15vw;
    min-width: 5vw;
    cursor: pointer;
}

.t01 img:hover {
  
}

.t01 h1  {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 1.7vw;
    color: black;
    font-weight: normal;    
    color: #11999E;
    line-height: 1.7; 
}
.header-margin {
    margin-top: 2vw;
}
.lies-table {
    padding: 3vw;
    margin: 5vw auto;
}
.present {
  padding-right: 10px;
}

.hr {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 0.27rem;
    width: 20%;
    margin: 4rem auto;
}


.titles {
    font-size: 3rem;
    color:#11999E;
    text-align: center;;
}


.Teachings-Table {
    font-size: 1.2rem;
    list-style-type: none;
    text-align: center;
    margin-top: 2rem;
    font-weight: normal;
}

.message-box-doggo {
    width: 15%;
    height: 30%;
    position: fixed;
    bottom: 0;
    right: 5vw;
    z-index: 1;
}
#bubble {
    min-width: 5vw;
    width: 10vw;
    z-index: 1;
    position: absolute;
    bottom: 7vw;
    right:3vw;
    transition: width 0.3s;
}
#bubble:hover {
    width: 15vw;
    z-index: 1;

}

#bubble:click {

}
#doggo {
    min-width: 5vw;
    width: 10vw;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;

}

#table2 {
    margin-bottom: 3rem;
}

#contact {
    margin-top: 3rem;
    text-align: center;
}
p {
    text-align: center;
 }


.skill-row {
    height: 10vw;
    width: 70%;
    margin: 5vw auto 2vw auto;
    text-align: left;
    line-height:2;
    margin-bottom: 10vw;
}
#code-img {
    width: 20%;
    float:left;
    margin-right: 2vw;
}
#css-img {
    width: 20%;
    float: right;
    margin-left: 2vw;
}
#jscript-img {
  width: 20%;
  float: left;
  margin-right: 2vw;
}
.skill-row h2 {
    line-height: 2;
    color: #057fd0;
    margin: 0;
    margin-top: 2rem;
    font-size: 1vw;
    text-align: center;
}

.skill-row p {
    color: black;
    font-weight:500;
    font-size: 1vw;
    font-family: 'Kufam', cursive;
    text-align: center;
    margin-top: 2vw; 
}


.photos-container {
    width: 100vw;
    height: 25vw;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    flex-basis: 80%;

}
.photos-container div img {
    width: 20vw;
}
#h1 {
    color: #11999E;
}
.box-1{
    flex: 1;
    order:3;
}

.box-2{
    flex: 1;
    order: 2;
}

.box-3{
    flex: 1;
    order: 1;
} 

.para {
    position: absolute;
    color: #11999E;
    width: 100%;
    height: 3vw;
}
.para h1 {
    text-align: center;
    display: block;
}
.contact {
    margin-top: 1vw;
}
.contact a {
    width: 0.1vw;
    display: inline;
    text-decoration: none;
}
.contact p {
    color: white;
}

.row {
    width: 100%;
    margin-top: 4vw;
    margin-bottom: 2vw;
    overflow:hidden;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.row div img {
  width: 17vw;   
}

/* Footer */

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

footer{
  position: relative;
  bottom: 0px;
  width: 100%;
  background: #111;
  
}
.main-content{
  display: flex;
  margin: 0 2rem;
}
.main-content .box{
  flex-basis: 50%;
  padding: 50px 20px;
}
.box h2{
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
}
.box .content{
  margin: 40px 0 0 0;
  position: relative;
}
.box .content:before{
  position: absolute;
  content: '';
  top: -10px;
  height: 2px;
  width: 100%;
  background: #1a1a1a;
}
.box .content:after{
  position: absolute;
  content: '';
  height: 2px;
  width: 15%;
  background: #0079bf;
  top: -10px;
}
.left .content p{
  text-align: justify;
}
.left .content .social{
  margin: 20px 0 0 0;
}
.left .content .social a{
  padding: 0 10px;
}
.left .content .social a span{
  height: 40px;
  width: 40px;
  background: #1a1a1a;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.3s;
}
.left .content .social a span:hover{
  background: white;
}
.center .content .fas{
  font-size: 1.4375rem;
  background: #1a1a1a;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}
.center .content .fas:hover{
  background: white;
}
.center .content .text{
  font-size: 1.0625rem;
  font-weight: 500;
  padding-left: 10px;
}
.center .content .phone{
  margin: 15px 0;
}
.right form .text{
  font-size: 1.0625rem;
  margin-bottom: 2px;
  color: #656565;
}
.right form .msg{
  margin-top: 10px;
}
.right form input, .right form textarea{
  width: 100%;
  font-size: 1.0625rem;
  background: #151515;
  padding-left: 10px;
  border: 1px solid #222222;
}
.right form input:focus,
.right form textarea:focus{
  outline-color: #3498db;
}
.right form input{
  height: 35px;
}
.right form .btn{
  margin-top: 10px;
  width: 100%;
}
.right form .btn button{
  height: 40px;
  width: 100%;
  border: none;
  outline: none;
  background: #3498db;
  font-size: 1.0625rem;
  font-weight: 500;
  cursor: pointer;
  transition: .3s;
}
.right form .btn button:hover{
  background: whitesmoke;
}
.bottom center{
  padding: 5px;
  font-size: 0.9375rem;
  background: #151515;
}
.bottom center span{
  color: #656565;
}
.bottom center a{
  color: #0079bf;
  text-decoration: none;
}
.bottom center a:hover{
  text-decoration: underline;
}
@media screen and (max-width: 900px) {
  footer{
    position: relative;
    bottom: 0px;
  }
  .main-content{
    flex-wrap: wrap;
    flex-direction: column;
  }
  .main-content .box{
    margin: 5px 0;
  }
}


/* End Footer */

@media (max-width:768px) {
    .container {
        height: 130vw;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 50vw;
    }
    .t01 {
        height: 100vw;
        width: 70vw;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

    }
    .t01 img {
        min-width: 50vw;
        width: 30vw;
    }
    .t01 h1 {
        font-size: 5vw;
        width: 70vw;

    }
    .message-box-doggo {
        width: 30%;
        height: 30%;
        position: fixed;
        bottom: 0;
        right: 5vw;
    }
    #doggo {
        min-width: 5vw;
        width: 25vw;
        position: absolute;
        bottom: 0;
        right: 0;
    }
    .photos-container div img {
        width: 35vw;
    }
    .skill-row {
        margin-top: 2vw;
        height: 30vw;
        text-align: center;
    }
    .skill-row p {
        padding-top: 5vw;
        font-size: 2.8vw;
        text-align: center;
    }
    .skill-row h2 {
        line-height: 1.5;
        font-size: 3vw;
        text-align: center;
    }
    .para {
     
    }
    .para h1 {
        margin-bottom: 20vw;
        font-size: 7vw;
    }
    .titles {
        font-size: 8vw;
    }
}
@media (max-width:900px) {
    .titles {
    font-size: 6vw;
    }
}